.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151a22;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

body {
    font-family: "Kanit", sans-serif;
    font-size: normal;
    margin: 0;
    padding: 0;
    background-image: url('https://miro.medium.com/v2/resize:fit:643/1*06ujBAXVeGHGifgqzuMn6Q.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.877));
    backdrop-filter: blur(10px);
    z-index: -1;
    pointer-events: none;
}

.nav {
    background: none;
    overflow: hidden;
}

.nav .btn-l a {
    float: left;
    color: #fff;
    padding: 1.4rem;
    padding-left: 2rem;
    padding-right: 3%;
    text-decoration: none;
}

.nav .container {
    display: flex;
    justify-content: center;
    float: right;
}

.nav .container .menu {
    display: flex;
}

.nav .container .menu a {
    color: #ffffff;
    padding: 1.4rem;
    text-decoration: none;
}

.nav .btn-r a {
    float: right;
    color: #fff;
    padding: 1.4rem;
    padding-right: 20%;
    background-color: #32adff;
    text-decoration: none;
}

.main .first {
    font-size: 2rem;
    display: flex;
    padding: 4rem;
    padding-left: 8rem;
    align-items: center;
}

.main .first .block h1, .main .first .block h2, .main .first .block span {
    color: #fff;
    display: block;
}

.main .first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .first img {
    padding-left: 12rem;
    padding-top: 4rem;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 10rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: 0.2s all ease;
  border: solid 4px #1877F2;
}
  
.fa:hover {
  opacity: 0.7;
  background: #1877F2;
}
  
.fa-facebook {
  color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}